<!DOCTYPE html>
<html lang="it"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="icon" href="http://getbootstrap.com/favicon.ico"/>

    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">MyApp</title>

    <!-- Bootstrap Core CSS -->
    <link href="../../../resources/node_modules/bootstrap/dist/css/bootstrap.min.css" th:href="@{/resources/node_modules/bootstrap/dist/css/bootstrap.min.css}" rel="stylesheet"/>
    <!-- Datatables Core CSS -->
    <link href="../../../resources/node_modules/datatables.net-dt/css/jquery.dataTables.css" th:href="@{/resources/node_modules/datatables.net-dt/css/jquery.dataTables.css}" rel="stylesheet"/>
    <!-- Bootstrap Datepicker CSS -->
    <link rel="stylesheet" href="../../../resources/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css" th:href="@{/resources/node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css}"/>

    <!-- Custom CSS -->
    <style>
        body {
            padding-top: 70px;
            /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px;
            background-color: #f5f5f5;
        }

        .container .text-muted {
            margin: 20px 0;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body>
    <header>
      <!-- Navigation -->
      <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#">Regione FVG</a>
              </div>
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                      <li>
                          <a href="#">Chi siamo</a>
                      </li>
                      <li>
                          <a href="#">Servizi</a>
                      </li>
                      <li>
                          <a href="#">Contatti</a>
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
      </nav>
    </header>

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <section layout:fragment="content">
                    <p>Page content goes here</p>
                </section>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <footer class="footer">
        <div class="container">
            <p class="text-muted">made with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in Insiel</p>
        </div>
    </footer>

    <!-- jQuery Version 3.2.1 -->
    <script src="../../../resources/node_modules/jquery/dist/jquery.min.js" th:src="@{/resources/node_modules/jquery/dist/jquery.min.js}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../../../resources/node_modules/bootstrap/dist/js/bootstrap.min.js" th:src="@{/resources/node_modules/bootstrap/dist/js/bootstrap.min.js}"></script>
    <!-- DataTables Core Javascript -->
    <script src="../../../resources/node_modules/datatables.net/js/jquery.dataTables.js" th:src="@{/resources/node_modules/datatables.net/js/jquery.dataTables.js}"></script>
    <!-- Bootstrap Datepicker JavaScript -->
    <script src="../../../resources/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.js" th:src="@{/resources/node_modules/bootstrap-datepicker/dist/js/bootstrap-datepicker.js}"></script>
    <!-- Import personalizzati -->
    <script layout:fragment="scripting"></script>
  </body>
</html>
