<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layouts/layout">
<head>
</head>
<body layout:fragment="content">

    <h1>Inserisci <%= @name.capitalize %></h1>

    <div th:include="<%= @name.downcase %>/form:: form('/<%= @name.downcase %>')"></div>

    <a th:href="@{'/<%= @name.downcase %>'}">Indietro</a>

</body>
</html>
